@media (max-width: 768px){
    .header-top .container-fluid {
        padding: 0;
    }
    
    .topbar-link {
        display: block;
        width: 100%;
    }
    
    .topbar-link .list-inline {
        margin: 0;
        justify-content: space-between;
    }
    
    .topbar-link ul li {
        font-size: .85rem;
    }

    /* Navbar brand style: Start */
    .navbar-brand-name h5 {
        font-size: 1rem;
        line-height: 1;
        margin-bottom: .25rem;
    }
    
    .navbar-brand-name h6 {
        text-align: right;
        font-size: .75rem;
    }
    .navbar-brand-logo {
        height: unset;
    }
    /* Navbar brand style: End */
}

@media (max-width: 968px) {
    #navbarNavDropdown{
        font-size: 1rem;
        margin-left: 0px;
    }
    .service{
        color: #111;
        text-decoration: none;
        margin-left: 38px;
     }
    #text img{
        margin-left: 0px ;
        width: 50px;
        height: 40px;
    }
    #text{
        font-size: 1rem;  
    }
    .card-img-overlay{
        margin-top: 80px;
    }
    .mb-4{
        font-size: 3rem;
        font-weight: bold;
        margin-left: 10px;
    }
    
    .card-img-overlay p{
        font-size: 1.1rem;
        font-weight: 600;
        margin-left: 13px;
    }
    .btn-box{
        margin-left: 13px;
    }
    .banner-large-text h1 {
        font-size: 4rem;
        line-height: 1;
    }

}