:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    --bs-font-sans-serif: "Poppins", sans-serif;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    line-height: 26px;
    color: #111;
}
.header-top {
    line-height: 35px;
    border-bottom: 1px solid #eee;
    background-color: #111;
    color: white;
}
 .header-top .container-fluid ul{
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding: 2px 0 2px 0;
}
.container-fluid ul li p{
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 35px;
    letter-spacing: 0.6px;
    font-weight: 600;
}
.social-icons ul li{
    margin-right: 35px;
    font-weight: bold;
}
.social-icons ul li a{
   color: white;
}
.social-icons ul :hover{
    transform: translateY(-1.3px);
}
.fa-facebook-f:hover{
    color: #2d527d;
}
.fa-instagram:hover{
    color: purple;
}
.fa-linkedin-in:hover{
    color: #2d527d;
}
.fa-youtube:hover{
    color: red;
}
.fa-whatsapp:hover{
    color: green;
}
 .topbar-link ul {
    display: flex;
    list-style: none;
    margin-right: 40px;
}
.topbar-link ul li {
    padding: 0 1.25rem;
}
.header-top .topbar-link li:first-of-type {
    border-right: 1px solid #eee;
  }
.topbar-link ul li a{
   text-decoration: none;
   color: white;
}

.fa-file-pen{
    margin-left: 5px;
}
.fa-envelope{
    margin-right: 5px;
}
.topbar-link a:hover{
    color: #2d527d;
}

/*style navbar*/
.navbar .navbar-collapse {
    flex-grow: 0;
}
.navbar-nav .nav-item {
    position: relative;
    font-weight: 600;
}
.navbar-nav .nav-item .nav-link {
    font-weight: 500;
}
.navbar-nav .dropdown-menu {
    font-size: 1.1rem;
    font-weight: 600;
}
.navbar-nav .dropdown-menu .dropdown-item {
    padding: 1.25rem 1rem;
    border-bottom: 1px solid #d5d5d5;
}
.navbar-nav .dropdown-menu ul li a:hover{
    color: #264f7d;
}
.navbar-nav .service {
    display: none;
}
.navbar-brand {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1px;
}
.navbar-brand img{
    margin: 0;
    max-height: 100%;
}

.navbar-brand > * {
    display: inline-block;
    vertical-align: top;
}

.navbar-brand-logo {
    height: 3.5rem;
}

.navbar-brand-name h5 {
    color: #b68741;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1;
}

.navbar-brand-name h6 {
    text-align: right;
    font-size: .85rem;
}

.nav-item {
    margin-left: 40px;
}

/*style hero section */
.hero-section{
    background-image: url(https://images.squarespace-cdn.com/content/v1/638644dae6e9116113c027ec/e5a2d5e4-e2b1-4c7e-b525-81c22444ff34/shutterstock_153494783.jpg?format=1000w);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px ;
    padding-bottom: 50px;
}
.content{
    margin-top: 130px;
}
 .content .mb-4{
    font-size: 3.5rem;
    margin-left: 100px;
    color: #eee;
    font-weight: bolder;
}
.content p{
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 100px;
    color: white;
}
h1 span{
    color: #111;
}
.content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
} 
.content button{
    margin-left: 100px;
    background-color: rgb(34, 110, 167);
    padding: 15px 30px 15px 30px;
    color: white;
}
 .content button:hover{
    background-color: rgb(35, 93, 137);
    color: white;
}
 .hero-section .banner-large-text h1 {
    font-size: 185px;
    line-height: 1;
    font-weight: bolder;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}
.banner-large-text {
    margin-top: 100px;
    margin-left: 5px;
}
/* style about section*/
.page-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.container{
    display: flex;

}
.right-about-sec{
    margin-left: 100px;
}
.featured-desc{
    margin-left: 20px;
}
.featured-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.row-align{
    display: flex;
    margin-top: 60px;
}
.col-sm-6 .call-action{
    display: flex;
}
.flex-grow-1{
    margin-left: 20px;
}
